.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-color);
  border-left: 1px solid var(--border-color);
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
